@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Yatra+One&display=swap');


    * {
        font-family: "Montserrat";
    }

    body {
        margin-top: 2.5rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        overflow-y: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #100c08;
        color: white;

    }

    .split-form {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }

    .screen-1 {
        background: #282C35;
        padding: 2em;
        display: flex;
        flex-direction: column;
        border-radius: 30px;

        gap: 2em;
    }

    .screen-1 .email {
        background: white;

        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        border-radius: 20px;
        color: #4d4d4d;
        margin-top: -3em;
    }

    .screen-1 .email input {
        outline: none;
        border: none;
    }

    .screen-1 .email input::-moz-placeholder {
        color: black;
        font-size: 0.7em;
    }

    .screen-1 .email input:-ms-input-placeholder {
        color: black;
        font-size: 0.7em;
    }

    .screen-1 .email input::placeholder {
        color: black;
        font-size: 0.7em;
    }

    .screen-1 .email ion-icon {
        color: #4d4d4d;
        margin-bottom: -0.1em;
    }

    .screen-1 .password {
        background: white;

        padding: 1em;
        display: flex;
        flex-direction: column;

        border-radius: 20px;
        color: #4d4d4d;
    }

    .screen-1 .password input {
        outline: none;
        border: none;
    }

    .screen-1 .password input::-moz-placeholder {
        color: black;

    }

    .screen-1 .password input:-ms-input-placeholder {
        color: black;

    }

    .screen-1 .password input::placeholder {
        color: black;

    }

    .screen-1 .password ion-icon {
        color: #4d4d4d;
        margin-bottom: -0.1em;
    }

    .screen-1 .password .show-hide {
        margin-right: -5em;
    }

    .screen-1 .login {
        padding: 1em;
        background: #3e4684;
        color: white;
        border: none;
        border-radius: 30px;
        font-weight: 600;
    }

    .screen-1 .footer {
        width: 20rem;

        font-size: .8rem;
        color: #5e5e5e;
        gap: 14em;

    }

    .screen-1 .footer span {
        cursor: pointer;
    }

    button {
        cursor: pointer;
    }